html{
    font-family: Arial, Helvetica, sans-serif;
}

*{
    margin: 0;
    padding: 0;
}

.header {
    width: 100vw;
    background-color: #fff;
    display: flex;
    position: fixed;
    z-index: 3000;
}

.header .nav {
    background-color: #fff;
}


button:focus:not(:focus-visible) {
    outline: 0;
}

.botonNav {
    width: 57px;
    height: 40px;
    margin-left: 130px;
}
.navbar-toggler {
    padding: 0.25rem 0.75rem;
    font-size: 1.25rem;
    line-height: 1;
    background-color: transparent;
    border: 1px solid transparent;
    border-radius: 0.25rem;
    transition: .15s ease-in-out;
}

.navbar-toggler:focus {
    text-decoration: none;
    outline: 0;
    box-shadow: 0 0 0 0.25rem;
}
.navbar-toggler:hover {
    text-decoration: none;
}


.navbar{
padding-top: 0px;
padding-bottom: 0px;
}


.nav__barraNavegacion__elemento {
    display: inline-block;
    margin: 0 10px;
    padding: 8px 12px;
    border-radius: 3px;
}

.nav__barraNavegacion__elemento .nav__barraNavegacion__link {
    text-decoration: none;
    list-style: none;
    font-size: 20px;
    color: #192836;
    font-weight: 600;
}
.nav__barraNavegacion__elemento .nav__barraNavegacion__link:hover {
    color:#fcaf17;
}
.navbar-collapse {
    flex-basis: 100%;
    flex-grow: 1;
    align-items: center;
}

.collapse:not(.show) {
    display: none;
}
.navbar>.container, .navbar>.container-fluid, .navbar>.container-lg, .navbar>.container-md, .navbar>.container-sm, .navbar>.container-xl, .navbar>.container-xxl {
    display: flex;
    flex-wrap: inherit;
    align-items: center;
    justify-content: space-between;
}

.container-fluid {
    padding-right: 0px;
    padding-left: 0px;
}

button, select {
    text-transform: none;
}
button {
    appearance: auto;
    writing-mode: horizontal-tb !important;
    text-rendering: auto;
    color: -internal-light-dark(black, white);
    letter-spacing: normal;
    word-spacing: normal;
    line-height: normal;
    text-transform: none;
    text-indent: 0px;
    text-shadow: none;
    display: inline-block;
    text-align: center;
    align-items: flex-start;
}
.sobremi{
    color: #192836;
    display: grid; 
    grid-template-columns: 3fr 5fr; 
    grid-template-rows: 1fr; 
    gap: 10px 10px; 
    padding-top: 100px;
}

.sobremi img{
    width: 900px;
}

.proyectosSection img{
    transition: 0.5s;
    filter: grayscale(100%);
}
.proyectosSection img:hover{
    filter: none;
}

.contacto h2{
    color: #192836;
}

.contacto {
    color: #192836;
    display: grid; 
    grid-template-columns: 3fr 5fr; 
    grid-template-rows: 1fr; 
    gap: 10px; 
    justify-items: center;
    padding-top: 80px;
}
footer{
    background-color: #192836;
    color: #fff;
    text-align: center;
}
footer li{
    display: inline;
    padding: 0 10px;
}

footer li a{
    color: #fff;
    list-style-type: none;
    text-decoration: none;
}

.sobremiyo{
    width: 800px;
    transition: 0.5s;
    filter: grayscale(100%);
}

.sobremiyo:hover{
    filter: none;
}
.datos{
    color: #192836; 
    display: grid; 
    grid-template-columns: 3fr 5fr; 
    grid-template-rows: 1fr; 
    gap: 10px;
    padding-top: 80px;
}

.datos h4{
    color: #fcaf17;
}

.sobremi h4{
    color: #fcaf17;
}


.proyectosCards, .proyectosSection {
    justify-content: center;
}

.proyectosSection {
    flex-wrap: wrap;
    display: flex;
    justify-content: center;
}


.p-3 {
    padding: 1rem!important;
}

.m-2 {
    margin: 0.5rem!important;
}

.card {
    position: relative;
    display: flex;
    flex-direction: column;
    min-width: 0;
    word-wrap: break-word;
    word-wrap: break-word;
    background-color: #fff;
    background-clip: border-box;
    border: 2px solid rgba(0,0,0,.125);
    border-radius: 0.25rem;
}

.card-img, .card-img-top {
    border-top-left-radius: calc(0.25rem - 2px);
    border-top-right-radius: calc(0.25rem - 2px);
    width: 100%;
}



.card-title {
    margin-bottom: 0.5rem;
}

.card-body h5{
    font-size: 1.25rem;
    font-weight: 500;
    line-height: 1.2;
    margin-top: 0;
}

.card-body p{
    margin-top: 0;
    margin-bottom: 1rem;
}

.textoResaltado {
    color:#fcaf17;
}

.colorBtn {
    color: #ffff;
    background-color:#192836;
    border-color:#fcaf17;
}

.btn {
    display: inline-block;
    font-weight: 400;
    line-height: 1.5;
    color: #212529;
    text-align: center;
    text-decoration: none;
    vertical-align: middle;
    cursor: pointer;
    -webkit-user-select: none;
    -moz-user-select: none;
    user-select: none;
    background-color: transparent;
    border: 1px solid transparent;
    padding: 0.375rem 0.75rem;
    font-size: 1rem;
    border-radius: 0.25rem;
    transition: color .15s ease-in-out,background-color .15s ease-in-out,border-color .15s ease-in-out,box-shadow .15s ease-in-out;
}

.card-body a {
    text-decoration: underline;
}

.crad-body a:-webkit-any-link {
    color: -webkit-link;
    cursor: pointer;
    text-decoration: underline;
}

.datos {
    overflow: scroll;
}

@media screen and (max-width: 768px){

    .botonNav {
        width: 57px;
        height: 40px;
        margin-left: 130px;
    }
    
    button, input, optgroup, select, textarea {
        margin: 0;
        font-family: inherit;
    }
    
    button {
        border-radius: 0;
    }
    
    .nav{
    list-style: none;
    padding-left: 0;
    margin-bottom: 0;
    }
    
    nav{
        display: block;
        width: 100vw;
        height: 11vh;
    }
    
    .navbar {
        position: relative;
        display: flex;
        flex-wrap: wrap;
        align-items: center;
        justify-content: space-between;
        padding-top: 0.5rem;
        padding-bottom: 0.5rem;
        width: 100vw;
        height: 11vh;
    }

    .navbar-expand-lg .navbar-collapse {
        display: flex!important;
        flex-basis: auto;
    }
    

    .navbar-expand-lg .navbar-collapse {
        display: flex!important;
        flex-basis: auto;
    }
    
    .navbar-expand-lg .navbar-nav {
        flex-direction: row;
    }
    
    .navbar-nav {
        display: flex;
        flex-direction: column;
        padding-left: 0;
        margin-bottom: 0;
        list-style: none;
    }

    .navbar-expand-lg {
        flex-wrap: nowrap;
        justify-content: flex-start;
    }
    
    .navLista {
        background-color: #fff;
    }
    
    ul {
        margin-top: 0;
        margin-bottom: 1rem;
    }

    header{
        background-color:  #fff;

    }
    body{
        grid-template-columns: 1fr;
        grid-template-rows: 0,5fr 0,5fr 0,5fr;
    }
    .sobremi{
        display: flex;
        flex-wrap: wrap;
        flex-direction: column;
        justify-content: center;
        align-items: left;
    }
    .sobremi img{
        justify-content: center;
        width: 700px;
        
    }

    footer{
        display: flex;
        flex-wrap: wrap;
        flex-direction: column;
        justify-content: center;
        align-items: center;
    }

}
@media screen and (max-width: 480px){

    .botonNav {
        width: 57px;
        height: 40px;
        margin-left: 130px;
    }
    
    button, input, optgroup, select, textarea {
        margin: 0;
        font-family: inherit;
    }
    
    button {
        border-radius: 0;
    }
    
    .nav{
    list-style: none;
    padding-left: 0;
    margin-bottom: 0;
    }
    
    nav{
        display: block;
        width: 100vw;
        height: 11vh;
    }
    
    .navbar {
        position: relative;
        display: flex;
        flex-wrap: wrap;
        align-items: center;
        justify-content: space-between;
        padding-top: 0.5rem;
        padding-bottom: 0.5rem;
        width: 100vw;
        height: 11vh;
    }

    .navbar-expand-lg .navbar-collapse {
        display: flex!important;
        flex-basis: auto;
    }
    

    .navbar-expand-lg .navbar-collapse {
        display: flex!important;
        flex-basis: auto;
    }
    
    .navbar-expand-lg .navbar-nav {
        flex-direction: row;
    }
    
    .navbar-nav {
        display: flex;
        flex-direction: column;
        padding-left: 0;
        margin-bottom: 0;
        list-style: none;
    }

    .navbar-expand-lg {
        flex-wrap: nowrap;
        justify-content: flex-start;
    }
    
    .navLista {
        background-color: #fff;
    }
    
    ul {
        margin-top: 0;
        margin-bottom: 1rem;
    }

    header{
        background-color:  #fff;

    }
    body{
        grid-template-columns: 1fr;
        grid-template-rows: 0,5fr 0,5fr 0,5fr;
    }
    .sobremi{
        display: flex;
        flex-wrap: wrap;
        flex-direction: column;
        justify-content: center;
        align-items: left;
    }
    .sobremi img{
        justify-content: center;
        width: 500px;
        
    }

    footer{
        display: flex;
        flex-wrap: wrap;
        flex-direction: column;
        justify-content: center;
        align-items: center;
    }
}